:root {
  --primary: #8d653e;
  --bg: #010101;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 0.9rem;
  margin: 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: " ";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  padding: 1rem 1rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Landing Section */

.landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/cofee-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Gradasi Landing ke Bawah */
.landing::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 3%,
    rgba(255, 255, 255, 0) 50%
  );
  /* linear-gradient(90deg, rgba(1, 1, 3, 1) 3%, rgba(255, 255, 255, 0) 30%); */
}

.landing .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.landing .content h1 {
  font-size: 3em;
  line-height: 1.2;
  /* letter-spacing: normal; */
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.landing .content h1 span {
  color: var(--primary);
}

.landing .content p {
  padding-top: 1rem;
  font-size: 0.9em;
  mix-blend-mode: difference;
}

.landing .content .cta {
  color: #fff;
  background-color: var(--primary);
  margin-top: 0.8rem;
  display: inline-block;
  padding: 0.7rem;
  font-size: 0.9rem;
  border: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

/* .landing .content .button-header {
  position: absolute;
  padding: 1em;
  border-radius: 12px;
  margin: 20px auto;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
} */

/* .landing .content .button-header:hover {
  background-color: #fff;
  color: var(--primary);
} */

/* About Section */
.about {
  padding: 12rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about h2 span,
.menu h2 span,
.contact h2 span {
  color: var(--primary);
}

.about p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 200;
  /* margin-bottom: 1.5rem; */
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 35rem;
}

.about .row .about-img img {
  width: 60%;
  margin-left: 10rem;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 0 1rem;
  margin-top: 1rem;
}

.about .row .content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

.about .row .content p {
  font-weight: 200;
  text-align: left;
}

.about .row .content h3 span {
  color: var(--primary);
}

/* Menu Section */

.menu {
  padding: 8rem 7% 1.4rem;
}

.menu p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 200;
  max-width: 40rem;
  margin: auto;
  /* margin-bottom: 1.5rem; */
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}

.menu .row .menu-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: -2rem;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 0.2rem;
}

/* Contact Section */

.contact {
  padding: 8rem 7% 1.4rem;
}

.contact h2 span {
  color: var(--primary);
}

.contact p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 200;
  max-width: 40rem;
  margin: auto;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  border-radius: 0.5rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 1rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 1rem;
  border-radius: 0.5rem;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  background: none;
  color: #eee;
}

.contact .row form .button-pesan {
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  color: #eee;
  background-color: var(--primary);
  border-radius: 0.5rem;
}

/* Footer */
.footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 2rem;
  margin-top: 2rem;
}

.footer .social-media {
  padding: 0.7rem 0;
}

.footer .social-media a {
  color: #eee;
  margin: 0.5rem;
  padding: 0.5rem;
  /* background-color: none;
  border-style: dashed;
  border-radius: 50%;
  display: inline-block; */
}

.footer .social-media a:hover,
.footer .links a:hover {
  color: var(--bg);
}

.footer .links {
  margin-bottom: 0.5rem;
}

.footer .links a {
  color: #eee;
  padding: 0.5rem 0.5rem;
}

.footer .credit p {
  font-size: 0.9rem;
  font-weight: 200;
}

.footer .credit p a {
  color: #010101;
  font-weight: 700;
}

/* Up Button */
/*Floating Back-To-Top Button*/
/* #myBtn {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 18.5%;
  left: 77.25%;
  max-width: 30px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: rgb(100, 100, 100);
  padding: 0.5px;
  border-radius: 4px;
}
/*On Hover Color Change*/
#myBtn:hover {
  background-color: #7dbbf1;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .content {
    margin-top: -8rem;
    text-align: center;
  }

  .about .row .content p {
    text-align: center;
  }

  .contact .row {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
